<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>asdf</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
      <div class="content flex flex-column" style="margin-top: 10px">
        
      <div class="header flex">
        <div class="flex flex-column section section-1">
          <div class="section-content">
            <p>Москвоский политех</p>
            <div class="flex flex">
              <span>Договор №</span>
              <div class="input-underline"></div>
            </div>
            <div class="flex">
              <span>От</span>
              <div class="input-underline"></div>
            </div>
          </div>
        </div>
        <div class="section section-2">
          <h2 style='margin-top: 0'>Проректору по учебной работе Г.Х. Шарипзяновой</h2>
          <div class="flex flex-column">
            <div class="flex">
              <span>От</span>
              <div class="input-underline">{{ user.surname }}</div>
            </div>
            <span class="help">(фамилия)</span>
          </div>
          <div class="flex flex-column">
            <div class="input-underline">{{ user.name }}</div>
            <span class="help">(имя)</span>
          </div>
          <div class="flex flex-column">
            <div class="input-underline">{{ user.patronymic }}</div>
            <span class="help">(отчество)</span>
          </div>
          <div class="flex">
            <span>СНИЛС</span>
            <div class="input-underline">{{ user.snils }}</div>
          </div>
          <div class="flex">
            <span>Контактный Телефон</span>
            <div class="input-underline">{{ user.phone }}</div>
          </div>
          <div class="flex">
            <span>Адрес электронной почты</span>
            <div class="input-underline" style="font-size: 10pt;">{{ user.email }}</div>
          </div>
        </div>
      </div>
        <h2 class="m-auto" style='margin-top: 1rem;'>ЗАЯВЛЕНИЕ</h2>
        <p class="t-indent">
          Прошу в соответствии с «Порядком перевода обучающегося в другую
          образовательную организацию, реализующую образовательную программу
          высшего образования соответствующего уровня» (утвержден приказом
          Минобрнауки России от 12 июля 2021 года № 607) зачислить меня
        </p>
        <div class="flex">
          <div class="flex">
            <input type="checkbox" {% if application.programs[1].university == 'Москва'%}checked{% endif %}/>
            <span>В головной университет</span>
          </div>
          <div class="flex">
            <input type="checkbox" {% if application.programs[1].university != 'Москва'%}checked{% endif %}/>
            <span>В филиал</span>
            <div class="input-underline" >{% if application.programs[1].university != 'Москва'%}{{application.programs[1].university}}{% endif %}</div>
          </div>
        </div>
        <div class="flex">
          <span
            >в порядке перевода на направление подготовки (специальность)</span
          >
          <div class="input-underline"></div>
        </div>
        <div class="flex">
          <div class="input-underline input-line">{{application.programs[1].okso}}</div>
        </div>
        <div class="flex">
          <span>образовательная программа (профиль)</span>
          <div class="input-underline"></div>
        </div>
        <div class="flex">
          <div class="input-underline input-line">{{application.programs[1].profile}}</div>
        </div>
        <div class="flex flex-column">
          <p style="margin-bottom: 0;">
            по <span class="bold" {% if application.programs[1].form == 'Очная'%}style='text-decoration: underline;'{% endif%}>очной</span> / 
            <span class="bold" {% if application.programs[1].form == 'Очно-заочная'%}style='text-decoration: underline;'{% endif%}>очно-заочной</span> /
            <span class="bold"{% if application.programs[1].form == 'Заочная'%}style='text-decoration: underline;'{% endif%}>заочной</span> 
            форме обучения на 
            <span class="bold"{% if application.programs[1].base == 'Бюджетная'%}style='text-decoration: underline;'{% endif%}>бюджетной</span> / 
            <span class="bold"{% if application.programs[1].base == 'Платная'%}style='text-decoration: underline;'{% endif%}>платной</span> договорной основе
          </p>
          <div class="flex">
            <span class="help">(нужное подчеркнуть)</span>
          </div>
        </div>
        <div class="flex flex-column">
          <span>В случае невозможности рассмотрения на выбранное направление, прошу рассмотреть на</span>
          <div class="flex" style='width: 100%;'>
            <span>направление подготовки (специальность)</span>
            <div class="input-underline">{{application.programs[2].okso}}</div>
          </div>
        </div>
        <div class="flex">
          <span>образовательная программа (профиль)</span>
          <div class="input-underline">{{application.programs[2].profile}}</div>
        </div>
        {% if not application.continue_year %}
        <div class="flex">
          <input type='checkbox' checked>
          <span>для продолжения обучения на {{2 - application.programs[1].sem_num % 2}} семестре {{ ((application.programs[1].sem_num + 1) // 2)}} курса;</span>
        </div>
        <div class="flex">
          <input type='checkbox'/>
          <span>для продолжения обучения на ___ годе обучения (только для обучающихся в аспирантуре).</span>
        </div>
        {% endif %}
        {% if application.continue_year %}
        <div class="flex">
          <input type='checkbox'>
          <span>для продолжения обучения на ___ семестре ___ курса;</span>
        </div>
        <div class="flex">
          <input type='checkbox' checked/>
          <span>для продолжения обучения на {{ application.continue_year }} годе обучения (только для обучающихся в аспирантуре).</span>
        </div>
        {% endif %}
        <div class="flex flex-column">
          <div class='flex'style='width: 100%'>
            <span class="bold">Обучаюсь:</span>
            <div class="bold-underline input-underline bold ">{{ application.programs[0].university }}</div>
          </div>
          <span class="bol help">(название образовательной организации высшего образования)</span>
        </div> 
        <div class="flex">
          <div class="flex flex-column">
            <span class="bold">Форма обучения</span>
            <div class="flex">
              <input type="checkbox" {% if application.programs[0].form == 'Очная'%}checked{% endif%}/>
              <span>очная</span>
            </div>
            <div class="flex">
              <input type="checkbox"{% if application.programs[0].form == 'Очно-заочная'%}checked{% endif%}/>
              <span>очно-заочная</span>
            </div>
            <div class="flex">
              <input type="checkbox"{% if application.programs[0].form == 'Заочная'%}checked{% endif%}/>
              <span>заочная</span>
            </div>
          </div>
          <div class="flex flex-column" style="margin-bottom: auto;">
            <span class="bold">Основа обучения</span>
            <div class="flex">
              <input type="checkbox" {% if application.programs[0].base == 'Бюджетная'%}checked{% endif%}/>
              <span>бюджетная</span>
            </div>
            <div class="flex">
              <input type="checkbox" {% if application.programs[0].base == 'Платная'%}checked{% endif%}/>
              <span>платная договорная</span>
            </div>
          </div>
          <div class="flex flex-column" style="margin-bottom: auto; width: 30%; justify-content: start;">
            <span class="bold m-auto" style='margin-bottom: 0px;'>Год поступления</span>
            <div class="input-underline" style='width: 100%'></div>
          </div>
        </div>
        <p><span class='bold'>Направление/специальность подготовки</span> (полностью)</p>
        <div class="flex">
          <div class="flex" style='width: 35%; flex: 1; margin-right: 1rem;'>
            <span>Код: </span>
            <div class="input-underline">{{ application.programs[0].okso}}</div>
          </div> 
          <div class="flex" style="flex: 2;">
            <span>Наименование: </span>
            <div class="input-underline">{{ application.programs[0].profile }}</div>
          </div> 
        </div>
        <div class="flex flex-column" style="margin-top: 0.5rem;">
          <span style="margin-bottom: 0.25rem">Приложение: </span>
          <div class="flex">
            <input type="checkbox" checked/>
            <span>справка о периоде обучении на ___ листах;</span>
          </div>
          <div class="flex">
            <input type="checkbox" checked/>
            <span>копия паспорта.</span>
          </div>
        </div>

        <div class="flex">
          <div class="flex" style="width: 80%; flex: 2;">
            <p>Ознакомлен, что общежитие предоставляется при наличии свободного жилого фонда после подачи заявки в личном кабинете обучающегося в соответствии с очередностью </p>
          </div>
          <div class="flex flex-column" style="width: 15%;">
            <div class="input-underline" style='width: 200%;'></div>
            <span class="help">(подпись)</span>
          </div>
        </div>
        <div class="flex">
          <div class="flex" style="width: 80%; flex: 2;">
            <p>В случае невозможности перевода на бюджетную основу прошу рассмотреть возможность перевода на платную договорную основу</p>
          </div>
          <div class="flex flex-column" style="justify-content: end; width: 15%;">
            <div class="input-underline"style='width: 200%;'></div>
            <span class="help">(подпись)</span>
          </div>
        </div>
        <div class="flex">
          <div class="flex" style="width: 80%; flex: 2;">
            <p>С положением о заполнении вакантных мест ознакомлен и согласен </p>
          </div>
          <div class="flex flex-column" style="justify-content: end; width: 15%;">
            <div class="input-underline"style='width: 200%;'></div>
            <span class="help">(подпись)</span>
          </div>
        </div>
        <div class="flex">
          <div class="flex" style="width: 80%; flex: 2;">
            <p>Подтверждаю отсутствие ограничений, предусмотренных для освоения образовательной программы за счет бюджетных ассигнований</p>
          </div>
          <div class="flex flex-column" style="justify-content: end; width: 15%;">
            <div class="input-underline"style='width: 200%;'></div>
            <span class="help">(подпись)</span>
          </div>
        </div>
        <div class="flex">
          <div class="flex" style="width: 80%; flex: 2;">
            <p>Ознакомлен с необходимостью указания в заявлении достоверных сведений и представления подлинных документов, подаваемых для зачисления </p>
          </div>
          <div class="flex flex-column" style="justify-content: end; width: 15%;">
            <div class="input-underline"style='width: 200%;'></div>
            <span class="help">(подпись)</span>
          </div>
        </div>

        <div class="flex" style="margin-top: 1rem;">
          <div class="flex" style="">
            <div class="flex flex-column">
              <span style="text-decoration: underline;">«{{application.date.day}}» ____{{application.date.month}}____ {{application.date.year}} г.</span>
              <span class="help" style="margin: 0; margin-left: 20%;">(дата)</span>
            </div>
          </div>
          <div class="flex " style='width: 50%; flex: 2;'>
            <div class="flex flex-column">
              <div class="input-underline"style='width: 45%; margin-top: 1rem;'></div>
              <span class="help">(подпись)</span>
            </div>
            <div class="flex flex-column">
              <div class="input-underline"style='width: 45%;'></div>
              <span class="help">(расшифровка подписи)</span>
            </div>
          </div>
        </div>

      </div>
  </body>
</html>
